<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather forecast
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Weather</ion-title>
    </ion-toolbar>
  </ion-header>
  <li [routerLink] = "['/todays-forecast']" routerDirection= "forward">todays forecast</li>
  <li [routerLink] = "['/tomorrows-forecast']" routerDirection= "forward">tomorrows forecast</li>
  <li [routerLink] = "['/four-day-forecast']" routerDirection= "forward">four day forecast</li>
  <li [routerLink] = "['/seven-day-forecast']" routerDirection= "forward">seven day forecast</li>
</ion-content>